<h2>You forgot your password</h2>
<p>Please enter your email below:</p>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <button type="submit">Restore Password</button>
</form>
<hr>