<h2>Page to reset your password</h2>
<p>Enter your new password</p>
<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="password" placeholder="New Password" name="newPassword"/>
    <br/><br/>
    <button type="submit">Restore Password</button>
</form>
<hr>